<nav class="menu">

    <a href="/">Home</a>

    <a href="/about">About Us</a>

    <a href="/contact">Contact</a>

    <a href="/user-profile/5cc027248f114330a8bbc13b">profil</a>

    <a href="/university-profile/5cc0349a82197d28e8caf398">University</a>

    <a href="/login">Login</a>

    <a href="/signup">Sign Up</a>
</nav>