<header class="header_pic"></header>
<section id="text">
  <div class="text_presentation">
    The Mindvalley team is a group of people seriously passionate about personal growth and changing the world. As one
    of the world’s top private companies to work for, Mindvalley attracts talent from all across the world. Today our
    team comes from 46+ countries and counting.
    Learn more about our key leaders below or learn about careers at Mindvalley.
    Something special happens when a team is exposed to so many ideas from so many game-changing thinkers. Over the
    years Mindvalley has evolved from a publishing company, into a testing ground for personal growth in the workplace
    and radical new experiments in company culture.
  </div>

  <section>
    <div class="services">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, hic perspiciatis. Laboriosam error, magni
      vitae consectetur, in magnam voluptate molestiae ut atque blanditiis porro odit cumque voluptatem? Ducimus,
      debitis iste.
    </div>

    <section>
      <div class="story">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque voluptates quo obcaecati consectetur nihil
        officiis eius atque minima, omnis eligendi in voluptatibus aliquam dicta facilis dignissimos nemo distinctio.
        Placeat, aliquam.

      </div>
    </section>
  </section>
</section>
</section>
<footer>
  <div class="contact">
    123 awesome street, 75018 Paris
  </div>

</footer>