<header class="header_pic"></header>
<section id="text">
  <div class="text_presentation">
    <p class="testtext">

      The BeeKiru team is a group of 2 seriously passionate people wondering about how to connect people between them
      and
      changing the
      perception of companies, school and students.
      As one of the world’s top private companies to work with, BeeKiru attracts talents from all across the world.

      Something special happens when a team is exposed to so many ideas from so many game-changing thinkers. Over the
      years BeeKiru will evolve from a publishing company, into a testing ground for personal connection between the
      company place, universities and
      students ready to learn and get involve in passionnate company environement.
    </p>
  </div>

  <section>
    <div class="services">
      Today we are in a environement where the web is one of the most important tool. We provide a way to connect
      students with professional that are seeking for a talent in a specific area and a specific school.
      Are you searching for a IT students that is outgoing and willing to be part of a big company, you are seeking for
      a student that is in business and that already have some perosnal experience related with your field of expertise.
      We help you to find him thanks to our website that connects you with them
    </div>

    <section>
      <div class="story">
        Our team started in 2019, when we were students in a web developement school named Ironhack. We were seeeking
        for a way to get a job after our training and we discovered that if we connect companies with ourselves we can
        improve our chance to get a job once we are done with the training. That's what we did

      </div>
    </section>
  </section>
</section>
</section>
<footer>
  <div class="contact">
    123 awesome street, 75018 Paris
  </div>

</footer>