<h1 class="title">Contact us</h1>
<div id="contactus" class="contactus">
    <label for="name" class="label">Your full name</label>
    <input id="name" type="text" name="name" class="input" required>
    <label for="email" class="label">Email</label>
    <input id="email" type="email" name="email" class="input" value="example: smith@gmail.com" required>
    <label for="phoneNumber" class="label">Your Phone Number</label>
    <input id="phoneNumber" type="phoneNumber" name="phoneNumber" class="input" value="example: 0612345678" required>
    <label for="subject" class="label">You want to</label>
    <select id="subject" name="subject" class="select input">
        <option value="support">talk to us</option>
        <option value="meeting">visit us</option>
        <option value="pricing">get pricing</option>
    </select>
    <label for="message" class="label">comments</label>
    <textarea id="message" name="message" class="textarea" required>comments</textarea>
    <button id="send_message" class="formbtn">send</button>
</div>
