<form id="form"></form>

<label class="form_col" for="firstName"></label>
<input name="firstName" id="firstName" type="text" />
<span class="tooltip"></span>
<br><br>

<label class="form_col" for="lastName"></label>
<input name="lastName" id="lastName" type="text">
<span class="tooltip"></span>
<br><br>

<label class="form_col" for="age"></label>
<input name="age" id="age" type="text">
<span class="tooltip"></span>
<br><br>

<span class="form_col"></span>
<label><input name="gender" type="radio" value="H">Male</label>
<label><input name="gender" type="radio" value="F">Female</label>
<span class="tooltip"></span>
<br><br>

<span class="form_col"></span>
<label><input type="email" name="email" id="email"></label>
<span class="tooltip"></span>
<br><br>

<form action="Field">
  <p>What is your field of expertise</p>
  <p>
    <input type="radio" name="role" value="Professional"> Professional<br>
    <input type="radio" name="role" value="Teacher"> Teacher<br>
    <input type="radio" name="role" value="Student"> Student
  </p>
</form>

<label class="form_col" for="login">Login</label>
<input name="login" id="login" type="text">
<span class="tooltip"></span>
<br><br>

<label class="form_col" for="pwd1"></label>
<input name="pwd1" id="pwd1" type="password">
<span class="tooltip"></span>
<br><br>

<label class="form_col" for="pwd2"></label>
<input name="pwd2" id="pwd2" type="password">
<span class="tooltip"></span>
<br><br>

<span class="form_col"></span>
<input type="submit" value="Register">
<input type="reset" value="reset form">
<br><br>