<style>
    .is-hidden {
        display: none;
    }
</style>

<p class="account-message">
    not a company ???
    <a href="/signup">Please register here</a>
</p>

<h1 class="title">Create company account</h1>
<form id="form">

    <input type="text" name="name" placeholder="CompanyName">
    <br></br><br>

    <input type="age" name="field" placeholder="field of expertise">
    <br></br><br>

    <input type="email" name="email" placeholder="email">
    <br></br><br>

    <input type="url" name="website" placeholder="website">
    <br></br><br>

    <button>Create account</button>
    <br></br><br>
</form>