<section id="head">



    <!-- content -->


    <div class="section-hero">
        <div class="container_box">


            <p>
                BeeRinku is creating a new way to connect students that are finishing their studies with companies that
                are seeking
                for
                new
                talents
            </p>
        </div>
    </div>

    <section>
        <div id="subscribe" class="section">
            <div class="container_box">
                <div class="second_part">
                    <div class="second_part_text">
                        <h2>
                            <bold>What is BeeRinkU</bold>
                        </h2>

                        <p>
                            Professionnal and student have the oppportunity to connect now thanks to BeeRinkU, an
                            awesome
                            way
                            for
                            companies to find their perfect student for their company. Thanks to the teacher reviews on
                            their
                            profile
                            you can see if your student match your company expectation. The student also have the power
                            to
                            connect
                            with
                            your company. A win-win situation.
                        </p>



                        <button type="button"><a href="/login">View More</a></button>
                    </div>

                    <img src="./images/fabian-mardi-119790-unsplash.jpg" class="img_intro" alt="Error Image">

                </div>
            </div>
        </div>
    </section>




    <section class="section">
        <div class="section_flat">
            <img src="./../images/flaticon/university-solid.svg" class="flaticon" alt="" <div id="about"
                class="section">
            <div class="container_box"></div>
            <h2>
                TEACHERS
            </h2>

            <p>
                Our teachers are living legends, best-selling authors and brilliant minds who know how to inspire
                and
                transform. Together with science, computer sciences and art, we seek to create the world's best
                program
                in
                every category we enter.
            </p>


            <div class="section_flat">
                <img src="./../images/flaticon/handshake-solid.svg" class="flaticon" alt="">
                <h2>PROFESSIONAL</h2>
                <p>
                    Our professional are formally certified and belonging to a specific profession by virtue of
                    having
                    completed a required course of studies and/or practice. And whose competence can usually be
                    measured against
                    an established set of standards. They are also alumnis from our university we are offering to
                    link
                </p>
            </div>


            <div class="section_flat">
                <img src="./../images/flaticon/user-graduate-solid.svg" class="flaticon" alt="">
                <h2>STUDENTS</h2>
                <p>
                    All our students are following high level of education and are all over exited of getting into a
                    good job
                    that they deserve and feel like able to complete. They are all high skilled and certified by
                    their teachers.
                    They might not have any job experience, but they have something better. Life experience that
                    could be a
                    diamant in any company.
                </p>
            </div>

    </section>



    <div id="subscribe" class="section">
        <div class="container_box">
            <h2>Subscribe to our newsletter</h2>
            <p>
                I challenge you to Sign up to our newsletter. You won't believe how much value you will receive every
                week.
                Students evolution, New added Universities, New comments and so much more. Don't be afraid, newsletter
                never
                killed anyone, approved and tested !
            </p>
            <input type="text" placeholder="Enter your email" />
            <br />

            <button type="button"><a href="/login">Notify Me</a></button>
        </div>
    </div>

    <footer>
        <span>Created by Yang Zhou and Christofer Perez Bustamante</span>
    </footer>
</section>