<h1>{{title}}</h1>


<div id="head" class="section">
    <div class="container1">
        <h2>BeeRinkU</h2>
        <p>
            BeeRinku is creating a new way to connect students finishing their studies and professional seeking for new
            talents
        </p>

    </div>
</div>


<div id="subscribe" class="section">
    <div class="container2">

        <h2>What is Linked</h2>
        <p>
            Professionnal and student have the oppportunity to connect now thanks to BeeRinkU, an awesome way for
            companies to find their perfect student for their company. Thanks to the teacher reviews on their profile
            you can see if your student match your company expectation. The student also have the power to connect with
            your company. A win-win situation.
        </p>

    </div>
</div>



<div id="flaticon1" class="section">
    <div class="container3">
        <h2>Our field of expertise</h2>
        <id="textHat">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad doloremque suscipit unde, fuga quos
                inventore ab nam incidunt ut officia atque similique dolores iusto molestiae ipsam. Assumenda ipsum
                aliquam animi.
            </p>

            </id>
    </div>
</div>


<div id="flaticon2" class="section">

    <id="textHand">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eveniet iste iusto rerum sunt deleniti cum
            voluptas at, nostrum quis? Sunt recusandae eum omnis rem cupiditate culpa ipsa iure temporibus.
        </p>

        </id>
</div>
</div>


<div id="flaticon3" class="section">

    <id="textCompanies">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eveniet iste iusto rerum sunt deleniti cum
            voluptas at, nostrum quis? Sunt recusandae eum omnis rem cupiditate culpa ipsa iure temporibus.
        </p>

        </id>

</div>
</div>


<div id="subscribe" class="section">
    <div class="container4">
        <h2>Subscribe to our newsletter</h2>
        <p>
            I challenge you to Sign up to our newsletter. You won't believe how much value you will receive every week.
            Students evolution, New added Universities, New comments and so much more. Don't be afraid, newsletter never
            killed anyone, approved and tested !
        </p>
        <input type="text" placeholder="Enter your email" />
        <br />
        <button type="button">Notify Me</button>
    </div>
</div>