<div class="signin"></div>
<form action="./login.hbs" method="POST" id="form">
  <h2 style="color:white">Log In</h2>
  <input type="text" name="LogIn" placeholder="Log In"><br><br>
  <input type="password" name="password" placeholder="Password"><br></br>
  <a href="./"><input type="button" value="Enter"></a><br>
  <br>
  <div id="container">

  </div>
  <a href="#" style=" margin-right:0px font-size:13px; font-family:Tahoma,Geneva, sans-serif;">Reset password</a>
  <a href="#" style=" margin-right:0px font-size:13px; font-family:Tahoma,Geneva, sans-serif;">Forgot password</a>


</form>