<form action="/school-profile/edit/{{school._id}}" method="post">
    <label for="name">edit name</label>
    <input id="name" type="text" name="name" value="{{school.name}}">
    <label for="email">edit email</label>
    <input id="email" type="text" name="email" value="{{school.email}}">
    <button>edit</button>
</form>