<div class="signup">
  <form>
    <h2 style="color: #fff" ;>Sign Up</h2>
    <input type="text" name="username" placeholder="First Name">
    <br>
    <br>

    <input type="text" name="username" placeholder="Last Name">
    <br><br>

    <input type="text" name="pass" placeholder="Password"><br><br>
    <input type="text" name="pass" placeholder="Confirm password"><br><br>

    <input type="text" name="email" placeholder="Email adresse">
    <input type="button" value="Sign up"><br><br>
    <div id="msg">Congratulation you have sign up successfully</div>
  </form>
</div>