je suis le profile
{{user.name}}

{{#compare user.role "Teacher" operator="=="}}
je suis un prof
{{/compare}}

{{#compare user.role "Pro" operator="=="}}
Je suis un pro
{{/compare}}


{{#compare user.role "Student" operator="=="}}
Je suis un etudiant
{{/compare}}

<a href="/user-profile/edit/{{user._id}}">edit</a>