* {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.title_Home {
  text-align: center;
  color: antiquewhite;
  font-size: 5rem;
}

body {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #343233;
}
title {
  text-align: center;
  position: static;
}
/*
.img-container {
  background-image: url("../images/background-image-index.jpg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.inner-container {
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  height: auto;
  margin-top: 200px;
}

h1 {
  font-size: 7em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  margin-top: -17px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  text-align: center;
  font-weight: 400;
}

a {
  margin-top: 20px;
  font-size: 1.3em;
  font-family: "Courier New", Courier, monospace;
}
*/
.btn {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  color: #ffffff;
  border: 4 px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover,
.btn:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3 ease-in, color 0.3s ease-in;
}

/*
@media only screen and (max-width: 920px) {
  .inner-container {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 540px) {
  .inner-container {
    margin-top: 150px;
  }
}
*/
h1 {
  font-size: 5em;
}

h2 {
  font-size: 1.4em;
}


  section > * {
    position: relative;
    z-index: 2;
  }
  section:nth-of-type(1) {
    background-image: url("./../images/redcharlie-739534-unsplash.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    
  }
  section:nth-of-type(2) {
    background-image: url("./../images/eliott-reyna-1339166-unsplash.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
  }
  section:nth-of-type(3) {
    background-image: url("./../images/mimi-thian-737634-unsplash.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
  }

  section:nth-of-type(1):after {
    content: normal;
    border-image-width: 5rem;
    position: cover;
    max-width: auto;
    width: 100%;
    left: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 6);
    z-index: 1;
  }
}

.title_Home {
  text-align: center;
}

.container_box {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.flaticon {
  width: 200px;
  height: 150px;
  border: 2px solid;
}

.section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.section_flat {
  flex-wrap: inherit;
  text-align: center;
  padding: 30px;
}

.second_part {
  color: yellow;
}

h1,
h2,
h3 {
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 8px;
}

h1 {
  font-size: 54px;
  color: #595c5f;
}

h2 {
  font-size: 42px;
  color: #e0eaf5;
}

h3 {
  font-size: 28px;
  color: #e0eaf5;
}

h4 {
  font-size: 20px;
  color: #e0eaf5;
  font-weight: 400;
  margin-bottom: 0;
}

p {
  margin: 20px 0;
  color: #e0eaf5;
  line-height: 24px;
}

.menu.main {
  height: 60px;
  width: 100%;
  background-color: #343323;
  z-index: 10;
  font-weight: bold;
}

.menu.main ul {
  padding: 0;
  margin: 0;
}

.menu.main li {
  display: inline-flex;
  float: left;
}

.menu.main a {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  color: #e0eaf5;
  transition: 1s;
}

.menu.main a:hover {
  color: #6c6c6c;
  font: bold;
}

#main {
  position: relative;
  top: 65px;
}

/******* picture on the right side ! *****


.gallery-content {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

@media screen and (max-width: 500px) {
  .gallery-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
  }
}
*/

/* Subscribe part !!! */

#subscribe {
  background: #04263d;
  padding: 4em 0;
}

#subscribe h2 {
  color: #e0eaf5;
  align-content: center;
}

#subscribe input {
  width: 80%;
  margin: 2em 0;
  background: none;
  border: 1px solid #e0eaf5;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  color: rgb(211, 165, 100);
  max-width: initial;
  width: auto;
  border-radius: 55px;
}

#subscribe input:focus {
  border: none;
  outline: none;
  border: 2px solid #e0eaf5;
  max-width: initial;
  width: auto;
  border-radius: 55px;
}

input::placeholder {
  color: #e0eaf5;
  text-transform: uppercase;
  font-weight: bold;
  max-width: initial;
  width: auto;
  border-radius: 55px;
}

#button_subscribe {
  border-radius: 55px;
  max-width: initial;
  width: auto;
}

footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
  background: #282627;
}

footer span {
  color: #e0eaf5;
  font-weight: 800;
}

/* FooterSocialMedia */

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.contactus {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 540px;
}

.formbtn {
  max-width: 120px;
}















.universityList {
  top:50%;
  text-align: left;
  cursor: pointer;
  padding : 1px;
}



.askforloginU {width : 150px;
  height : 10px;
  border-radius: 10px;
  background-color: #343233;

}
